/* Add a global box-sizing rule to ensure consistent sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Base styles */
.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 1;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #121A21;
  align-items: center;
  justify-content: center;
}

.dashboard-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: left;
  color: white;
}

.dashboard-content p {
  font-size: 1.2rem;
  color: #ffffff;
}

.course-search-form {
  display: flex;
  flex-wrap: wrap; /* Allow elements to wrap */
  gap: 10px; /* Add gap between elements */
  margin-bottom: 20px;
  background-color: rgb(18, 26, 33);
}

.course-search-input {
  flex: 1; /* Take available space */
  padding: 10px;
  border-radius: 12px;
  background-color: #263845;
  border: none;
  color: white;
}

.course-search-button {
  padding: 10px 20px;
  color: grey;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background-color: #263845;
}

.course-search-button:hover {
  background-color: #21272c;
  transition: background-color 0.3s ease-in-out;
}

.resources-results {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Add gap between sections */
  width: 100%;
}

.courses-section,
.books-section,
.youtube-section {
  width: 100%; /* Ensure sections take full width */
  padding: 16px;
}

/* Responsive grid for course and book results */
.course-results,
.book-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
  gap: 20px;
}

.course-card,
.book-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #364f63;
  border-radius: 8px;
  padding: 16px;
  background-color: #1c2633;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  align-items: center;
  justify-content: space-between;
}

.course-card:hover,
.book-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.youtube-videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
  gap: 15px;
}

.youtube-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.youtube-thumbnail {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 25px;
  border: 2px solid #343a40;
}

/* View more button */
.view-more-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #263845;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-more-button:hover {
  background-color: #21272c;
  transition: background-color 0.3s ease-in-out;
}

/* Media Queries for Small Screens */
@media (max-width: 768px) {
  .dashboard-content {
    padding-left: 2%;
    padding-right: 2%;
  }

  .course-search-form {
    flex-direction: column; /* Stack search form on small screens */
  }

  .course-search-input,
  .course-search-button {
    width: 100%; /* Full width for search input and button */
    margin-bottom: 10px; /* Add space between elements */
  }
}
