.footer {
    background-color: #121A21;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: small;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .about-us h2 {
    color: white;
    margin-bottom: 10px;
    font-size: small;
  }